.section-1 {
    height: 600px;
    background-color: $color-white;
    z-index: 1000;
    position: relative;
    // margin-left: 20px;
    overflow: hidden;

    &__title {
        padding: 40px 10px;
        text-transform: uppercase;
        color: $primaryColor;
    }

    &__container {
        display: flex;
        flex-direction: row;

        &--1 {
            position: relative;
        }

        &--2 {
            position: relative;
        }
    }

    &__video {
        padding:0px  20px;
        margin: 0px auto;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    }

    &__img {
        height: 180px;
        width: 320px;
        border-radius: 5px;
        box-shadow:  0px 8px 8px 4px rgba(0,0,0,0.2);
    }
}


// .multiple-items {
  // position: relative;
// }

.slick-prev {
  background-color: rgba(0, 0, 0, 0.411);
  color: $color-white;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2000;
  height: 180px;
  width: 75px;
}

.slick-next {
  background-color: rgba(0, 0, 0, 0.411);
  color: $color-white;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2000;
  height: 180px;
  width: 75px;
}


// MEDIA QUERIES
@media only screen and (max-width: 400px) {
  
}

