.section-3 {
    background-color: $color-white;
    height: 2125px;

    &__titlebox {
        background-color: $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: $color-white;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        width: 350px;
    }

    &__grid-container {
        position: relative;
    }

    &__side {
        float: left;
        width: 25%;
        padding-left: 250px;
        

        &__item {
            margin-bottom: 30px;
            
            &__img {
                height: 250px;
                width: 250px;
                border-radius: 10px;
                border: 2px solid $primaryColor-light;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                margin-top: 20px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            &__link {
                display: block;
            }

            & p {
                width: 250px;
                background-color: $color-grey;
                border-radius: 10px;
                border: 2px solid $primaryColor-light;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                padding: 10px;
            }

            & h1 {
                color: $primaryColor-light;
            }

            & a {
                text-decoration: none;
                color: $primaryColor-light;
            }

            & a:first-of-type {
                margin-top: 10px;
            }
        }
    }

    &__main {
        float: left;
        width: 50%;
        text-align: center;
        
        &__item {
            margin-bottom: 30px;

            &__img {
                height: 400px;
                width: 600px;
                border-radius: 10px;
                border: 2px solid $primaryColor-light;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                margin-top: 20px;
                cursor: pointer;
            }

            & p {
                width: 600px;
                background-color: $color-grey;
                border-radius: 10px;
                border: 2px solid $primaryColor-light;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                padding: 10px;
                margin: 30px auto;
                text-align: center;
            }

            & h1 {
                color: $primaryColor-light;
                text-align: center;
            }

            & h3 {
                text-align: center;
            }
        }

        &__pagination {
            display: flex;
            justify-content: center;
        }

        &__pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;

            &:hover:not(.section-3__main__pagination--active) {
                background-color: #ddd;
            }
        }

        &__pagination--active {
                background-color: $primaryColor-light;
                color: $color-white; 
            }
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

@media only screen and (max-width: 1700px) {
    .section-3 {

        &__side {
            padding-left: 100px;
        }
    }
}

@media only screen and (max-width: 1375px) {
    .section-3 {

        &__side {
            padding-left: 50px;
        }
    }
}

