.header {
    position: relative;
    background-image: url('../images/competitions/header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 60vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    
  &__overlay {
    position: absolute;
    background-image: linear-gradient(to right, $primaryColor-light, $primaryColor  );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 2;
  }

  &__img {
      height: 100px;
      width: auto;
      z-index: 1;

      &--1 {
        animation: rotate-1 10s linear infinite;
        position: absolute;
        bottom: 50px;
        left: 300px;
        z-index: 0;
        // perspective: 500px;
      }

      &--2 {
        animation: rotate-2 10s linear infinite;
        position: absolute;
        bottom: 150px;
        left: 300px;
        opacity: 0;
      }

      &--3 {
        animation: jump-1 15s linear infinite;
        position: absolute;
        bottom: -10%;
        right: 10%;
        z-index: 0;
      }
  }
}


// ANIMATIONS

@keyframes rotate-1 {
  0%, 100%{left:-10%; bottom: -20%; transform: rotate(45deg);}
	50%		{left:10%; bottom: 10%;transform: rotate(45deg) rotateY(20deg);}
  51%		{left:9%; bottom: 10%;transform: rotate(15deg) rotateY(-10deg);}
  65% {transform: rotate(-35deg);}
  75% {transform: rotate(-45deg);}
  80% {transform: rotate(-55deg);}
	100% {left:6%; bottom: -25%;transform: rotate(-75deg) rotateY(-75deg);}
}

@keyframes rotate-2 {
  0% {left:40%; top: 20%;}
  5% {opacity: 1;}
  50% {left: 13%; top: 66%;}
  51% {transform:rotate(-45deg) rotateY(-10deg);}
  100% { left: 13%; top: -10%; opacity: 1;transform:rotate(90deg) rotateY(-75deg);}
}

@keyframes jump-1 {

  0% {right: 10%; bottom: -20%;}
  5% {right: 10%; bottom: -20%;}
  10% {right: 10%; bottom: -14%;}
  19% {right: 10%; bottom: -14%;}
  20% {right: 10%; bottom: -20%;}
  30% {right: 10%; bottom: -20%;}
  33% {right: 10%; bottom: 1%;}
  35% { right: 10%; bottom: -3%;}
  50% {transform: scale(1);}
  53% {transform: scale(1.05);}
  56% {transform: scale(1);}
  72% { right: 10%; bottom: -3%;}
  74% {right: 5%; bottom: 1%}
  76% {right: 2%; bottom: -3%}
  97% {right: 2%; bottom: -3%}
  100% { right: -5%; bottom: 10%}

}

