.header {
    position: relative;
    background-image: url('../images/competitions/header.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 60vh;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    
  &__overlay {
    position: absolute;
    background-image: linear-gradient(to right, $primaryColor-light, $primaryColor  );
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 5;
  }

  &__img {
      height: 100px;
      width: auto;
      z-index: 1;

      &--1 {
        animation: rotate-1 10s linear infinite;
        position: absolute;
        bottom: 50px;
        left: 300px;
        z-index: 0;
        // perspective: 500px;

        &--spark1 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-1 10s linear infinite;
        }

        &--spark2 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-2 10s linear infinite;
        }

        &--spark3 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-3 10s linear infinite;
        }

        &--spark4 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-4 10s linear infinite;
        }

        &--spark5 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-5 10s linear infinite;
        }

        &--spark6 {
          height: 10px;
          width: auto;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          left: 300px;
          transform: rotate(90deg);
          animation: spark-5 10s linear infinite;
        }
      }

      &--2 {
        animation: rotate-2 10s linear infinite;
        position: absolute;
        bottom: 150px;
        left: 300px;
        opacity: 0;
      }

      &--3 {
        animation: jump-1 15s linear infinite;
        position: absolute;
        bottom: -10%;
        right: 10%;
        z-index: 0;
      }

      &--4 {
        animation: jump-2 30s linear infinite;
        position: absolute;
        bottom: 0%;
        right: 50%;
        z-index: 0;

        &--triangle1 {
          opacity: 0;
          transform: rotate(40deg);
          position: absolute;
          bottom: 17.5%;
          left: 49%;
          height: 10px;
          width: auto;
          animation: sing 30s linear infinite;
        }

        &--triangle2 {
          opacity: 0;
          transform: rotate(100deg);
          position: absolute;
          bottom: 15%;
          left: 49.3%;
          height: 10px;
          width: auto;
          animation: sing 30s linear infinite;
        }
      }

      &--5 {
        animation: run 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 30%;
        transform: rotate(-20deg);
        z-index: 0;
      }

      &--51 {
        animation: run-1 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 22.5%;
        opacity: 1;
      }

      &--52 {
        animation: run-2 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 15%;
        opacity: 1;
      }
      &--53 {
        animation: run-3 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 7.5%;
        opacity: 1;
      }
      &--54 {
        animation: run-4 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 0%;
        opacity: 1;
      }

      &--55 {
        animation: run-5 30s linear infinite;
        position: absolute;
        top: 15%;
        right: 35%;
        transform: rotateY(180deg);
        opacity: 0;
      }

      &--61 {
        animation: harlequin1 45s linear infinite;
        position: absolute;
        bottom: 0%;
        right: 30%;
        opacity: 1;
      }

      &--62 {
        animation: harlequin2 45s linear infinite;
        position: absolute;
        bottom: -10%;
        right: 26.1%;
        height: 212px;
        width: auto;
        opacity: 0;
        z-index: 2;
      }

      &--7 {
        animation: flying 30s linear infinite;
        position: absolute;
        top: 15%;
        left: 47%;
        opacity: 1;
      }
      

  }
}


// ANIMATIONS



@keyframes rotate-1 {
  0%, 100%{left:-10%; bottom: -20%; transform: rotate(45deg);}
	50%		{left:10%; bottom: 10%;transform: rotate(45deg) rotateY(20deg);}
  51%		{left:9%; bottom: 10%;transform: rotate(15deg) rotateY(-10deg);}
  65% {transform: rotate(-35deg);}
  75% {transform: rotate(-45deg);}
  80% {transform: rotate(-55deg);}
	100% {left:6%; bottom: -25%;transform: rotate(-75deg) rotateY(-75deg);}
}

@keyframes rotate-2 {
  0% {left:40%; top: 20%;}
  5% {opacity: 1;}
  50% {left: 13%; top: 66%;}
  51% {transform:rotate(-45deg) rotateY(-10deg);}
  100% { left: 13%; top: -10%; opacity: 1;transform:rotate(90deg) rotateY(-75deg);}
}

@keyframes spark-1 {
  0% {left:12%; bottom: 29%;opacity: 0;}
  50% {left:12%; bottom: 29%;opacity: 0;}
  51% {left:12%; bottom: 29%;opacity: 1;}
  55% {left:11%; bottom: 31%;opacity: 0;}
  100% {left:11%; bottom: 31%;opacity: 0;}
}

@keyframes spark-2 {
  0% {left:10%; bottom: 31%;opacity: 0;}
  50% {left:10%; bottom: 31%;opacity: 0;}
  51% {left:10%; bottom: 31%;opacity: 1;}
  55% {left:8%; bottom: 34%;opacity: 0;}
  100% {left:8%; bottom: 34%;opacity: 0;}
}

@keyframes spark-3 {
  0% {left:15%; bottom: 14%;opacity: 0;}
  50% {left:15%; bottom: 14%;opacity: 0;}
  51% {left:15%; bottom: 14%;opacity: 1;}
  56% {left:16%; bottom: 15%;opacity: 0;}
  100% {left:16%; bottom: 15%;opacity: 0;}
}

@keyframes spark-4 {
  0% {left:14%; bottom: 13%;opacity: 0;}
  50% {left:14%; bottom: 13%;opacity: 0;}
  51% {left:14%; bottom: 13%;opacity: 1;}
  56% {left:16%; bottom: 16%;opacity: 0;}
  100% {left:16%; bottom: 16%;opacity: 0;}
}

@keyframes spark-5 {
  0% {left:10%; bottom: 31%;opacity: 0;}
  50% {left:12%; bottom: 32%;opacity: 0;}
  51% {left:12%; bottom: 32%;opacity: 1;}
  55% {left:8%; bottom: 38%;opacity: 0;}
  100% {left:8%; bottom: 38%;opacity: 0;}
}

@keyframes jump-1 {

  0% {right: 10%; bottom: -20%;}
  5% {right: 10%; bottom: -20%;}
  10% {right: 10%; bottom: -14%;}
  19% {right: 10%; bottom: -14%;}
  20% {right: 10%; bottom: -20%;}
  30% {right: 10%; bottom: -20%;}
  33% {right: 10%; bottom: 1%;}
  35% { right: 10%; bottom: -3%;}
  50% {transform: scale(1);}
  53% {transform: scale(1.05);}
  56% {transform: scale(1);}

  72% { right: 10%; bottom: -3%;}
  74% {right: 6%; bottom: 1%}
  76% {right: 2%; bottom: -3%}
  97% {right: 2%; bottom: -3%}
  100% { right: -2%; bottom: 1%}

}

@keyframes jump-2 {
  0% {right: 50%; bottom: -19%;}
  20% {right: 50%; bottom: -19%;}
  22% {right: 50%; bottom: 3%;}
  23% {right: 50; bottom: 0%;}
  60% {right: 50; bottom: 0%;}
  61% {right: 50; bottom: 5%;transform: rotateY(0deg)}
  65% {right: 50; bottom: -19%;transform: rotateY(180deg)}
  100% {right: 50; bottom: -19%; transform: rotateY(360deg)}
}

@keyframes sing {
  0% {opacity: 0;}
  26% {opacity: 0;}
  27% {opacity: 1;}
  28% {opacity: 0;}
  29% {opacity: 1;}
  30% {opacity: 0;}
  31% {opacity: 1;}
  32% {opacity: 0;}
  40% {opacity: 0;}
  41% {opacity: 1;}
  42% {opacity: 0;}
  43% {opacity: 1;}
  44% {opacity: 0;}
  45% {opacity: 1;}
  46% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes run {
  0% {transform: rotate(-20deg);opacity: 0}
  15% {transform: rotate(-20deg); opacity: 0}
  20% {transform: rotate(-20deg); opacity: 1;}
  30% {transform: rotate(0deg);}
  33% {transform: rotate(0deg);}
  34% {transform: scale(1.2);}
  36% {transform: scale(1);}
  39% {transform: scale(1.2);}
  41% {transform: scale(1); opacity: 1;}
  42% {opacity: 0;}
  43% {opacity: 1;}
  44% {opacity: 0;}
  45% {opacity: 1; transform: scale(1);}
  46% {transform: scale(1.2);}
  47% {transform: scale(1);right: 30%}
  53% {right: -10%;}
  100% {right: -10%;}
}

@keyframes run-1 {
  0% {opacity: 0;}
  48% {opacity: 0;}
  48.9% {opacity: 1;}
  52% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes run-2 {
  0% {opacity: 0;}
  49% {opacity: 0;}
  50.6% {opacity: 1;}
  53% {opacity: 1;}
  54% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes run-3 {
  0% {opacity: 0;}
  50% {opacity: 0;}
  51.5% {opacity: 1;}
  54% {opacity: 1;}
  55% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes run-4 {
  0% {opacity: 0;}
  52% {opacity: 0;}
  52.2% {opacity: 1;}
  55% {opacity: 1;}
  56% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes run-5 {
  0% {opacity: 0;}
  47% {opacity: 0; right: 35%}
  48.5% {opacity: 0.4;}
  49% {opacity: 0.4; right: 37%;}
  49.1% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes harlequin1 {
  0% {opacity: 0;}
  5% {opacity: 1; transform: rotateY(360deg);}
  10% {transform: rotateY(0deg);}
  17% {bottom: 0%;}
  18% {bottom: 5%;}
  20% {bottom: 0%;transform: rotateY(0deg);}
  22% {bottom: 15%;transform: rotateY(360deg);}
  25% {transform: rotateY(0deg);}
  30% {bottom: 15%; transform: rotateY(0deg);}
  31% {bottom: 0%;}

  41% {bottom: 0%;}
  42% {bottom: 5%;}
  44% {bottom: 0%;transform: rotateY(0deg);}
  46% {bottom: 15%;transform: rotateY(360deg);}
  49% {transform: rotateY(0deg);}
  54% {bottom: 15%; transform: rotateY(0deg);}
  55% {bottom: 0%;}

  65% {bottom: 0%;}
  66% {bottom: 5%;}
  68% {bottom: 0%;transform: rotateY(0deg);}
  70% {bottom: 15%;transform: rotateY(360deg);}
  71% {transform: rotateY(0deg);}
  76% {bottom: 15%; transform: rotateY(0deg);}
  77% {bottom: 0%;}

  84% {transform: rotateY(0deg);}
  85% { transform: rotateY(360deg);}
  90% {transform: rotateY(0deg);}
  90.5% {opacity: 1;}
  91% {opacity: 0;}
  100% {opacity: 0;}


}

@keyframes harlequin2 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  11% {opacity: 1;}
  13% {opacity: 1;}
  14% {opacity: 0;}
  15% {opacity: 1;}
  16% {bottom: -10%; opacity: 0;}
  17% {bottom: 5%; opacity: 0;}
  24% {opacity: 0;}
  25% {opacity: 1;}
  26% {opacity: 0;}
  27% {opacity: 1;}
  28% {opacity: 0;}
  29% {opacity: 1;}
  29.5% {bottom: 5%; opacity: 1;}
  30% {bottom: -10;opacity: 0;}

  41% {bottom: -10%; opacity: 0;}
  42% {bottom: 5%; opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  51% {opacity: 0;}
  52% {opacity: 1;}
  53% {opacity: 0;}
  54% {opacity: 1;}
  54.5% {bottom: 5%; opacity: 1;}
  55% {bottom: -10;opacity: 0;}

  65% {bottom: -10%; opacity: 0;}
  66% {bottom: 5%; opacity: 0;}
  71% {opacity: 0;}
  72% {opacity: 1;}
  73% {opacity: 0;}
  74% {opacity: 1;}
  75% {opacity: 0;}
  76% {opacity: 1;}
  76.5% {bottom: 5%; opacity: 1;}
  77% {bottom: -10;opacity: 0;}

  100% {bottom: -10;opacity: 0;}
}

@keyframes flying {
  0% {top: -15%; left: 60%;}
  4% {top: -15%; left: 60%;}
  12% {top: 15%; left: 50%;}
  16% {top: 14%; left: 47%;}
  20% {top: 13%; left: 46%;}
  23% {top: 12%; left: 47%;}
  26% {top: 13%; left: 48%;}
  29% {top: 14%; left: 47%;}
  32% {top: 13%; left: 46%;}
  35% {top: 12%; left: 47%;}
  38% {top: 13%; left: 48%;}
  41% {top: 14%; left: 47%;}
  44% {top: 13%; left: 46%;}
  47% {top: 12%; left: 47%;}
  49% {top: 13%; left: 48%;}
  50% {top: -15%; left: 30%;}
  100% {top: -15%; left: 30%;}
}