.section-1 {
    height: 2000px;
    background-color: $color-white;
    z-index: 10000;
    position: relative;

    &__titlebox {
        background-color: $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: $color-white;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        width: 350px;
    }
}