.section-1 {
    height: 2000px;
    background-color: $color-white;
    z-index: 10000;
    position: relative;

    &__titlebox {
        background-color: $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: $color-white;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        width: 350px;
    }

    &__btns {
        text-align: center;
        margin-bottom: 30px;
    }

    &__tablink {
        height: 100px;
        width: auto;
        border: none;
        margin: 10px;
    }

    &__logo {
        height: 100px;
        width: auto;
        border: 3px solid $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        &:hover {
            border: 3px solid $primaryColor-light;
        }
    }

    // &__table-container {
    //     margin: 10px auto;
    //     border: 3px solid $primaryColor;
    //     width: 740px;
    // }

    &__table {
        margin: 10px auto;
        border: 3px solid $primaryColor;
        width: 700px;
        border-collapse: collapse;

        &__img {
            height: 30px;
            width: auto;
            padding: 7px 5px 0px 5px;
        }
    }

    &__table th {
        padding: 12px 3px;
        text-align: left;
        background-color: $primaryColor;
        color: $color-white;
    }

    &__table th, td {
        border: 1px solid #ddd;
        padding: 15px
    }
    
    &__table tr:nth-child(even){ 
        background-color: #f2f2f2;
    }

    &__table tr:hover{ 
        background-color: $primaryColor-light;
    }

}