.section-1 {
    height: 2000px;
    background-color: $color-white;
    z-index: 10000;
    position: relative;

    &__titlebox {
        background-color: $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: $color-white;
        margin: 50px auto;
        padding: 20px;
        text-align: center;
        width: 350px;
    }

    &__btns {
        text-align: center;
        margin-bottom: 30px;
    }

    &__tablink {
        height: 100px;
        width: auto;
        border: none;
        margin: 10px;
    }

    &__logo {
        height: 100px;
        width: auto;
        border: 3px solid $primaryColor;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

        &:hover {
            border: 3px solid $primaryColor-light;
        }
    }
}