header {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #06243c;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
}

header img {
  position: absolute;
  top: 7px;
  left: 20px;
  height: 30px;
  width: auto;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
}

.navbar__item {
  padding: 0px 30px;
  -webkit-animation: flash 25s linear infinite;
          animation: flash 25s linear infinite;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
}

.navbar__link:hover {
  color: #0d8ef8;
  border-bottom: 1px solid #0d8ef8;
}

.navbar__link__active {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #0d8ef8;
  padding: 5px 15px;
}

.navbar__link__active:hover {
  border-bottom: 2px solid #fff;
}

.rotate:hover {
  -webkit-animation: rotate-btn .5s linear 5;
          animation: rotate-btn .5s linear 5;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@-webkit-keyframes rotate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-btn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes flash {
  0% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    color: #0d8ef8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flash {
  0% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  99% {
    color: #0d8ef8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 780px) {
  .navbar__item {
    padding: 0px 15px;
  }
  .navbar__link__active {
    padding: 2px 5px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .logo-container {
    -webkit-transform: translateX(-370%);
            transform: translateX(-370%);
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    width: 100%;
    display: none;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar li {
    text-align: center;
    padding-bottom: 10px;
  }
  .navbar li:first-child {
    margin-top: 40px;
  }
  .navbar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #06243c;
  }
  .navbar__link__active {
    border: none;
  }
  header {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  header img {
    position: absolute;
    top: 9px;
    left: 20px;
    height: 25px;
    width: auto;
  }
}

.footer {
  height: 370px;
  background-color: #06243c;
  padding-top: 50px;
  z-index: 2000;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links__link {
  text-decoration: none;
  color: #fff;
}

.links__link:hover {
  color: #0d8ef8;
}

.links__btn {
  list-style-type: none;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.socials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socials__btn {
  list-style-type: none;
}

.socials__link {
  color: #fff;
  font-size: 40px;
  padding: 0px 10px;
}

.socials__link:hover {
  color: #0d8ef8;
}

.signature {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.signature__span {
  color: #0d8ef8;
  text-decoration: none;
}

@media only screen and (max-width: 470px) {
  .footer {
    height: 650px;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=calendar.css.map */