$primaryColor: hsl(207, 82%, 13%);
$primaryColor-light: hsl(207, 94%, 51%);

$color-white: #fff;
$color-grey: #f7f7f7;
$color-black: #000;

@import './index/navbar';
@import './competitions/header';
@import './index/scrolling-banner';
@import './competitions/section-1';
@import './index/footer';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}